<h1>ブログ一覧</h1>

<div id="new-blog-link">
  <%= link_to '新規ブログを作成する', new_blog_path %>
</div>

<% @blogs.each do |blog| %>
  <div class="blog-panel">
    <h2><%= blog.title %></h2>
    <p><%= image_tag blog.image_url if blog.image_url(:thumb) %></p>
    <p><%= blog.content %></p>
    <div class="blog-links">
      <% user = User.find_by(id: blog.user_id) %>
      <p><%= image_tag user.image_url(:thumb) if user.image_url(:thumb) %><%= user.name %></p>
      <%= link_to '詳細', blog, class: 'btn btn-success' %>
      
      <% if logged_in? && blog.user_id == current_user.id %>
      <%= link_to '編集', edit_blog_path(blog), class: 'btn btn-info' %>
      <%= link_to '削除', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
<% end %>