<h1><%= @user.name %>のページ</h1>

<p>
  <strong>Image:</strong>
  <%= image_tag @user.image %>
</p>

<p>メールアドレス: <%= @user.email %></p>

<h2>お気に入りブログ一覧</h2>

<% @favorites_blogs.each do |favorites_blog| %>
<div class="panel panel-default">
　<div class="row">
    <p class="col-sm-3 col-md-4 タイトル："><%= favorites_blog.title %></p>
    <p class="col-sm-9 col-md-4 内容："><%= favorites_blog.content %></p>
    <p class="col-sm-9 col-md-4 投稿者："><%= @user.name %></p>
  </div>
<% end %>