<!DOCTYPE html>
<html>
  <head>
    <title>子育てblog</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
  <header>
    <ul>
      <li><%= link_to 'home',  home_path %></li>
      <li><%= link_to 'ブログ一覧', blogs_path %></li>
      <li><%= link_to '新規投稿', new_blog_path %></li>
    </ul>
  </header>
    
    <%= yield %>
    
  <footer>
    <p>Shizuka Takada @ NTT ComCHEO</p>
  </footer>
  
  </body>
</html>